@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #EDEDED;
  --peach-puff: #FEF1E1;
  --fiery-red: #FC350B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-peach-puff: var(--peach-puff);
  --color-fiery-red: var(--fiery-red);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--peach-puff);
  color: var(--fiery-red);
  font-family: "Outfit", Helvetica, sans-serif;
}
