@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #EDEDED;
  --peach-puff: #FEF1E1;
  --fiery-red: #FC350B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-peach-puff: var(--peach-puff);
  --color-fiery-red: var(--fiery-red);
  --font-sans: var(--font-outfit);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--peach-puff);
  color: var(--fiery-red);
  font-family: "Outfit", Helvetica, sans-serif;
}

.outlined-text {
  @apply -tracking-tighter text-peach-puff text-shadow-[-1px_-1px_0_var(--fiery-red),_1px_-1px_0_var(--fiery-red),_-1px_1px_0_var(--fiery-red),_1px_1px_0_var(--fiery-red)];
}